services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: materials
    command: bash -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - .:/app
      - static_volume:/app/static
    depends_on:
      - db
      - redis
    networks:
      - app_network

  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    env_file:
      - ./.env
    volumes:
      - redis_data:/data
    networks:
      - app_network

  celery:
    build:
      context: .
    container_name: celery_worker
    command: bash -c "sleep 20 && celery -A config worker -l INFO --pool=threads"
    env_file:
      - ./.env
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    networks:
      - app_network

  celery_beat:
    build:
      context: .
    container_name: celery_beat
    command: bash -c "sleep 20 && python manage.py migrate && celery -A config beat --loglevel=INFO"
    env_file:
      - ./.env
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - celery
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
  static_volume: